```html
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="add-circle-outline"></ion-icon>
      Tambah Mata Kuliah
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Tambah Mata Kuliah
      </ion-card-title>

      <ion-card-subtitle>
        Lengkapi informasi mata kuliah di bawah ini
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <!-- Mata Kuliah -->
        <ion-item>
          <ion-icon
            name="book-outline"
            slot="start"
            color="primary">
          </ion-icon>

          <ion-input
            label="Mata Kuliah"
            labelPlacement="floating"
            placeholder="Isikan nama mata kuliah">
          </ion-input>
        </ion-item>

        <!-- Jam -->
        <ion-item>
          <ion-icon
            name="time-outline"
            slot="start"
            color="primary">
          </ion-icon>

          <ion-input
            label="Jam"
            labelPlacement="floating"
            placeholder="Contoh: 09.00 - 10.40">
          </ion-input>
        </ion-item>

        <!-- Dosen -->
        <ion-item>
          <ion-icon
            name="person-outline"
            slot="start"
            color="primary">
          </ion-icon>

          <ion-input
            label="Dosen"
            labelPlacement="floating"
            placeholder="Isikan nama dosen pengampu">
          </ion-input>
        </ion-item>

      </ion-list>

      <ion-button
        expand="block"
        color="primary"
        style="margin-top: 25px; height: 48px;"
      >
        <ion-icon
          name="save-outline"
          slot="start">
        </ion-icon>
        Simpan Mata Kuliah
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
```
